token_2.py
__pycache__/token_2.cpython-37.pyc
main.exe
.vscode/settings.json
.vscode/tasks.json
__pycache__/propaganda.cpython-37.pyc
Sözler/__pycache__/Stalin.cpython-37.pyc
__pycache__\token_2.cpython-37.pyc
__pycache__/Vars.cpython-37.pyc
__pycache__\Hitler.cpython-37.pyc
__pycache__\main.cpython-37.pyc
main.cpp
main.cpp
Sözler/__pycache__/Stalin.cpython-37.pyc
işkence.py
token_2.py
.env
a.py
